<div class='container container-left'>
  <div class='row'>
    <div class='col-md-8'>
      <p>
        <%= link_to("New note", "/", :class => "btn btn-info") %>
      </p>

      <div id='notes'>
        <% if @author_notes.each do |note| %>
          <div class='note'>
            <div class='meta'>
              <%= link_to("Note ##{note.slug}", show_path(note.slug)) %> <%= note.title %>

              <span class='right'>
              <%= link_to('Edit', edit_note_path(note.slug)) %>
                <%= link_to "Delete", {:action => "destroy", :id => note.id},
                            :confirm => "Are you sure?", :method => :delete %>
            </span>

            </div>
            <div class='data'>
              <%= truncate(note.content, :length => 400).gsub("\r\n", "<br/>").html_safe %>
            </div>
            <div class='bottom'>
            </div>
          </div>
        <% end.empty? %>
          There is no notes
        <% end %>
      </div>

    </div>
  </div>

  <% if false then %>
    <div style="width: 300px;margin-left:30px;margin-top:10px;float:left">
      <div style="background-color: #eee; padding:0 10px; margin-top: 10px; border: solid 1px #ddd">
      </div>
    </div>
  <% end %>


</div>