<div class='container container-left'>
  <div class='row'>
    <div class='col-md-8'>
      <div style="background-color: #eee; padding:12px 10px; border: solid 1px #ddd">
        <div>
          <% if @note.title.present? %>
            <h3><%= @note.title %></h3>
          <% end %>

          <div id="render_div" class="render render-show" style='width:97%'><%= simple_format @note.content.html_safe %></div>
          Created <%= time_ago_in_words(@note.created_at) %> ago.

          <br/>

          <div style="margin:0 auto;padding:0;">
            <div><a href='javascript:void()' onclick='$("#source").toggle();' id='expand'>View Source</a></div>
            <textarea id="source" readonly="readonly"
                      style="display:none;width:97%;min-height:200px"><%= @note.content %></textarea>
            <br/>

          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div style="background-color: #eee; padding:12px 10px; border: solid 1px #ddd">
        Share this note:
        <input id="share_note_area" onclick="this.select()" style="display:inline;width:250px" type="text" value="<%= request.url %>">

        <br/>
        <br/>
        <% if (current_user and current_user.id == @note.user_id) then %>

          <%= link_to('Edit', edit_note_path(@note.slug)) %> -
          <%= link_to "Delete", {:action => "destroy", :id => @note.id},
                      :confirm => "Are you sure?", :method => :delete %>

        <% end %>

      </div>

      <% if @note.user_id %>
        <div style="background-color: #eee; padding:0 10px; margin-top: 10px; border: solid 1px #ddd">
          <h3>Author's notes</h3>
          <ul class="notes">
            <% @author_notes.each do |note| %>
              <li>
                <%= link_to("Note: #{note.slug}", show_path(note.slug)) %>
                <%= note.title %>
                <br/>
                <span style='font-size:95%'>Created <%= time_ago_in_words(note.created_at) %> ago.</span>
              </li>
            <% end %>
          </ul>

          <br/>
        </div>
      <% end #if      %>

    </div>
  </div>
</div>

<script language="javascript">
  $(function () { showNoteInit() });
</script>