<div class='container'>
  <%= form_for @user, html: {class: 'form-auth'} do |f| %>
    <h2>Sign Up</h2>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
    </p>

    <p>
      <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
    </p>

    <p>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control' %>
    </p>

    <p><%= f.submit 'Get started', class: 'btn btn-primary' %></p>
  <% end %>

</div>