<!DOCTYPE html>
<html>
<head>
  <title>TexPaste</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <%= javascript_include_tag "application" %>
	
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="topbar" id="topbar">
	    <div class="topbar-inner">
	        <div class="container">
	            <a href="/" class="brand">TexPaste - Share your math</a>
	        </div>
	    </div>
	</div>

<%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31924834-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
