<!DOCTYPE html>
<html>
<head>
  <title>TexPaste</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <%= javascript_include_tag "application" %>
	
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main">
    <div id="header">
      <div class='site'>
        <div class='logo'>
          <h1><a style='color:black' href="/">TexPaste</a></h1>
        </div>
        <div class='userbox'>
          <% if current_user %>
            Hello <%= current_user.email %>.
            <%= link_to("Manage Notes", manage_path()) %>.
            <%= link_to "Log out", log_out_path %>
          <% else %>
            <%= link_to "Sign up", sign_up_path %>. 
            <%= link_to "Log in", log_in_path %>
          <% end %>
        </div>
      </div>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

  <%= yield %>


</div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31924834-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>


</body>
</html>
