<!DOCTYPE html>
<html ng-app='app'>
<head>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= render 'shared/mathjax' %>

  <meta name="description" content="Compose and Share Mathematics Notes/Formulae Using LaTeX"/>
  <meta name="google-site-verification" content="V-mof7jc6MAyXC3goDG4ztkOOPdlQVjxWNN5BXIb1yA"/>

  <%= csrf_meta_tags %>

  <%= render 'shared/mixpanel' %>
</head>
<body>

<div id='wrap'>
  <div class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='navbar-brand'>
        <a href="/">TexPaste</a>
        <span>Pastebin for Mathematicians</span>
      </div>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <% if current_user %>
          <li><%= link_to("Manage Notes", manage_path()) %></li>
          <li><%= link_to "Log out (#{current_user.email})", log_out_path %></li>
        <% else %>
          <li><%= link_to "Sign up", sign_up_path %></li>
          <li><%= link_to "Log in", log_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% unless flash.empty? %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="row">
          <div class='col-md-offset-1 col-md-8 alert alert-<%= name %>'>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= msg %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= yield %>

</div>
<div id="footer">
  <%= link_to "About", about_path %>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31924834-1']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function () {
  var uv = document.createElement('script');
  uv.type = 'text/javascript';
  uv.async = true;
  uv.src = '//widget.uservoice.com/6kAFvYQNBzq2YyYljU87jw.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(uv, s)
})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
  UserVoice = window.UserVoice || [];
  UserVoice.push(['showTab', 'classic_widget', {
    mode: 'feedback',
    primary_color: '#cc6d00',
    link_color: '#007dbf',
    forum_id: 221629,
    tab_label: 'Feedback',
    tab_color: '#cc6d00',
    tab_position: 'bottom-right',
    tab_inverted: true
  }]);
</script>

</body>
</html>
