<!DOCTYPE html>
<html ng-app='app'>
<head>
  <title>TexPaste - Pastebin for Mathematicians using LaTeX</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <% if request.ssl? %>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <% else %>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <% end %>

  <meta name="description" content="Compose and Share Mathematics Notes/Formulae Using LaTeX"/>
  <meta name="google-site-verification" content="V-mof7jc6MAyXC3goDG4ztkOOPdlQVjxWNN5BXIb1yA"/>

  <%= csrf_meta_tags %>

  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("825ab1bde890ef7d34242bbdd35acf6a");</script><!-- end Mixpanel -->
</head>
<body>

<div id='wrap'>
  <div class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='navbar-brand'>
        <a href="/">TexPaste</a>
        <span>Pastebin for Mathematicans</span>
      </div>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to("Manage Notes", manage_path()) %></li>
          <li><%= link_to "Log out (#{current_user.email})", log_out_path %></li>
        <% else %>
          <li><%= link_to "Sign up", sign_up_path %></li>
          <li><%= link_to "Log in", log_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% unless flash.empty? %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="row">
          <div class='col-md-offset-1 col-md-8 alert alert-<%=name%>'>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= msg %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= yield %>

</div>
<div id="footer">
  <%= link_to "About", about_path %>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31924834-1']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function () {
  var uv = document.createElement('script');
  uv.type = 'text/javascript';
  uv.async = true;
  uv.src = '//widget.uservoice.com/6kAFvYQNBzq2YyYljU87jw.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(uv, s)
})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
  UserVoice = window.UserVoice || [];
  UserVoice.push(['showTab', 'classic_widget', {
    mode: 'feedback',
    primary_color: '#cc6d00',
    link_color: '#007dbf',
    forum_id: 221629,
    tab_label: 'Feedback',
    tab_color: '#cc6d00',
    tab_position: 'bottom-right',
    tab_inverted: true
  }]);
</script>

</body>
</html>
